@import url('./variables.css');

/* Estilos do cabeçalho */
header {
    background-color: var(--global-color-secondary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--global-color-primary);
    text-align: center;
    padding: 1em 0;
}

/* Estilos das opções principais */
.main-options,
.main-options-menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 10%;
}

.main-options-menu > li {
    display: inline-block;
}

.main-options-menu > li > a {
    color: var(--global-color-text);
    text-decoration: none;
    font-size: 1.2em;
}

.main-options-menu > li > a:hover {
    color: var(--global-color-accent);
}