@import url('./variables.css');

/* Estilos do cabeçalho */
header {
    background-color: var(--global-color-secondary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.logo img {
    max-height: 100px;
}

/* Estilos das opções principais */
.main-options,
.main-options-menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 10%;
    align-items: center;
}

.main-options-menu > li {
    display: inline-block;
}

.main-options-menu > li > a {
    color: var(--global-color-text);
    text-decoration: none;
    font-size: 1.2em;
}

.main-options-menu > li > a:hover {
    color: var(--global-color-accent);
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 0.5rem;
    }

    .main-options,
    .main-options-menu {
        flex-direction: column;
        gap: 1rem;
    }

    .main-options-menu > li {
        width: 100%;
        text-align: center;
    }

    .main-options-menu > li > a {
        display: block;
        padding: 0.5rem 0;
    }
}