* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root, button, input {
    font-family: "Space Grotesk", sans-serif;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.6;
    color: var(--global-color-text);
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    font-size: 1em;
    font-weight: 600;
}

/* Layout principal */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em;
    flex-grow: 1;
    gap: 2em;
    background-color: var(--global-color-primary);
}

/* Títulos */
h1, h2, h3 {
    text-align: center;
    color: var(--global-color-text);
}

h1 {
    font-size: 2.8em;
    font-weight: bold;
    text-transform: uppercase;
    background-clip: text;
    background-image: linear-gradient(88.76deg, rgb(106, 62, 38) -100%, rgb(255, 145, 62) 100%);
    color: transparent !important;
}

h2 {
    font-size: 2.2em;
    font-weight: bold;
}

h3 {
    font-size: 1.8em;
    font-weight: bold;
}

/* Texto */
p {
    font-size: 1em;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    background-color: var(--global-color-secondary);
    font-size: 1em;
    padding: 0.5em 0em 0.5em 0.3em;
    width: 20em;
    margin-bottom: 0.6em;
}

input::placeholder {
    color: var(--global-color-text);
}

button {
    width: 100%;
    padding: 0.6em;
    font-size: 1.1em;
    color: var(--global-color-primary);
    background-color: var(--global-color-accent);
    border: none;
    border: 0.1em solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: var(--global-color-secondary);
    transform: scale(1.02);
}