@import url(../base/variables.css);


span.highlight {
    font-weight: bold;
    color: var(--global-color-accent);
}

.separacao {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

/* Seções */
section {
    width: 100%;
    max-width: 800px;
    margin: 10px auto;
    padding: 1em;
    text-align: center;
    background-color: var(--global-color-secondary);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

section ul {
    text-align: left;
    list-style-type: disc;
    margin: 1em auto;
    padding-left: 1.5em;
}

section ul li {
    font-size: 1.1em;
    margin-bottom: 0.8em;
}

section ul li span {
    font-weight: bold;
    color: var(--global-color-accent);
}

/* Formulário */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 2em;
    margin: 0 auto;
    background-color: var(--global-color-primary);
    border: 2px solid var(--global-color-secondary);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    font-size: 2em;
    margin-bottom: 1em;
    color: var(--global-color-text);
}

.form-container p {
    font-size: 1.1em;
    margin-bottom: 1.5em;
    text-align: center;
}

.form-container label {
    font-size: 1em;
    margin-bottom: 0.5em;
    color: var(--global-color-text);
    display: block;
    text-align: left;
    width: 100%;
}

.form-container input {
    width: 100%;
    padding: 0.75em;
    margin-bottom: 1em;
    border: 1px solid var(--global-color-secondary);
    border-radius: 5px;
    font-size: 1em;
    background-color: var(--global-color-primary);
}

.form-container input:focus {
    border-color: var(--global-color-accent);
    outline: none;
}

.form-container button {
    width: 100%;
    padding: 0.8em;
    font-size: 1.1em;
    color: var(--global-color-primary);
    background-color: var(--global-color-accent);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.form-container button:hover {
    background-color: var(--global-color-secondary);
    transform: scale(1.02);
}

/* Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 2.2em;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.6em;
    }

    p {
        font-size: 1em;
    }

    .form-container {
        padding: 1.5em;
    }

    .separacao {
        flex-direction: column;
        gap: 0.5em;
    }
}
